<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="page-container-box">
    <div class="row-header">
      <div class="menubar">
        <div class="menubar-item" id="tab-stabilization"><a href="{{ url_for('index') }}">Home</a></div>
        <div class="menubar-item" id="tab-avgcolor"><a href="{{ url_for('info') }}">Info</a></div>
        <div class="menubar-item" id="tab-layering"><a href="{{ url_for('info') }}">Info</a></div>
      </div>
    </div>
    <img src="{{ preview_img }}">
  </div>


  <script>
    function refresh() {
      setTimeout("location.reload();", 10000);
    }
    refresh();
  </script>
  <p>{{ infoString }} {{ currframe }}/{{ totalframes }} {{ duration }}s </p>
  <p>Done: {{ isdone }} Errored: {{ error }}: {{ errorString }}</p>

</body>

</html>