<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    {% if isdone %}
    <img src="{{ preview_img }}">
    <script>
        function refresh() {
            setTimeout("location.reload();", 10000);
        }
        refresh();
    </script>
    {% else %}
    <script>
        function refresh() {
            setTimeout("location.reload();", 100);
        }
        refresh();
    </script>
    {% endif %}
    <p>{{ infoString }} {{ currframe }}/{{ totalframes }} {{ duration }}s </p>
    <p>Done: {{ isdone }} Errored: {{ error }}: {{ errorString }}</p>

</body>

</html>