{% extends "layout.html" %}
{% block pageinfo %}
<p class="pageinfo text">Info page. Shows current user's details.</p>
{% endblock %}

{% block left %}
<div class="ctextcontainer">
  <h2>Birdflight</h2>
  <p>{{ version }}</p>
  <p>hostname: {{ hostname }}</p>
</div>
{% endblock %}

{% block right %}
<div class="textcontainer">
  <h1>Gallery</h1>
  <a href="{{ url_for('static', filename='example_1.png') }}"><img src="{{ url_for('static', filename='example_1.png') }}" /></a>
  <a href="{{ url_for('static', filename='example_2.png') }}"><img src="{{ url_for('static', filename='example_2.png') }}" /></a>
</div>
{% endblock %}