{% extends "layout.html" %}

{% block pageinfo %}
<script>
  var activeTab = document.getElementById("tab-info")
  activeTab.style.backgroundColor = "#FFFFFF";
</script>
{% endblock %}

{% block content %}
<div class="gallerycontainer">
  <h1>Gallery</h1>
  <a href="{{ url_for('static', filename='example_1.png') }}"><img src="{{ url_for('static', filename='example_1.png') }}" class="imggallery"/></a>
  <a href="{{ url_for('static', filename='example_2.png') }}"><img src="{{ url_for('static', filename='example_2.png') }}" class="imggallery"/></a>
  <a href="{{ url_for('static', filename='example_2.png') }}"><img src="{{ url_for('static', filename='me_3.png') }}" class="imggallery"/></a>
  <a href="{{ url_for('static', filename='example_2.png') }}"><img src="{{ url_for('static', filename='me_4.png') }}" class="imggallery"/></a>
  <a href="{{ url_for('static', filename='example_2.png') }}"><img src="{{ url_for('static', filename='me_5.png') }}" class="imggallery"/></a>
</div>
{% endblock %}