<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <script data-goatcounter="https://starmaid.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <div class="page-background">
    <div class="page-container">
      <div class="page-container-box">
        <div class="row-header">
          <div class="row-header-line">
            <div class="logo-img">
              <img src="{{ url_for('static', filename='logo.png') }}">
            </div>
            <div>
              <h1 class="logo">
                Birdflight
              </h1>
            </div>
          </div>
          <div class="menubar">
            <div class="menubar-item" id="tab-home"><a href="{{ url_for('index') }}">Home</a></div>
            <div class="menubar-item" id="tab-info"><a href="{{ url_for('info') }}">Info</a></div>
          </div>
          {% block pageinfo %}
          {% endblock %}
        </div>
        <div class="page-content">
          {% block content %}
          {% endblock %}
        </div>
        <div class="footer">
          <p>Created by <a href="http://github.com/starmaid">starmaid</a> for Pau in 2024 Ebrosystem secret santa!!!</p>
          <p><a href="http://github.com/starmaid/birdflight">github source code</a></p>
          <p>version {{ version }}</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>